.pull-right{
    float: right;
}

.header{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;

    margin: 30px 0 15px 0;
}

.controls{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -37px;
}

.controls-item{
    align-self: center;
    margin: 10px 0;
    width: 250px;
}

.my-row {
    display: flex;
}

.game-board{
    flex:6;
    min-height: 52vh;
    border-radius: 10px;
    background-color: #00314f!important;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-aside {
    background-color: #002840;
    border-radius: 8px;
    flex: 1;
}

body{
    background-color: #004066!important;
}


.game-logo {
    text-align: center;
    margin-top: 25px;
}
.game-logo img{
    width: 40vw;
}
.coin{
    width: 6vw;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.coin:hover {
    width: 7vw;
    box-shadow: rgba(0, 0, 0, 0.61) 12px 12px 50px;
}

.coin.last {
    cursor: not-allowed;
    pointer-events: none;
}

.coin.deleted {
    position: relative;
    width: 2.3vw;
    pointer-events: none;
}

.button {
    -moz-box-shadow: 0px 5px 4px #272727;
    -webkit-box-shadow: 0px 5px 4px #272727;
    box-shadow: 0px 5px 4px #272727;
}
.end-turn, .new-game{
    cursor: pointer;
}
.player-name{
    background-color: #fcae08!important;
    border-color: #fcae08!important;
}
.player-active-true{
    background-color: #fcae08!important;
    border-color: #fcae08!important;
}

.player-active-false{
    background-color: #A1A1A1!important;
    border-color: #A1A1A1!important;
}

.end-turn{
    background-color: #d20707!important;
    border-color: #d20707 !important;
}
.end-turn:hover{
    background-color: #a20000 !important;
}
.new-game{
    background-color: #7aab05!important;
    border-color: #7aab05!important;
}
.new-game:hover{
    background-color: #5e8405 !important;
}

.alert-winner{
    background-color: #7aab05;
    font-size: 47px !important;
    font-weight: 700;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.61) 12px 12px 50px;
}


.button{
    padding: .75rem 1.25rem;
    font-size: 1.25rem;
    line-height: 1.333333;
    border-radius: .3rem;
    color: #fff;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}