@font-face {
    font-family: AllerFont;
    src: url('./fonts/AllerDisplay.woff') format('woff')
}


.pull-right{
    float: right;
}

.header{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;

    margin: 30px 0 15px 0;
}

.controls{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -37px;
}

.controls-item{
    align-self: center;
    margin: 10px 0;
    width: 250px;
}

.game-board{
    min-height: 52vh;
    border-radius: 10px;
}

body{
    background-color: #004066!important;
    font-family: AllerFont, Fallback, sans-serif;
}

.game-board{
    background-color: #00314f!important;
}


.game-logo {
    text-align: center;
    margin-top: 25px;
}
.game-logo img{
    width: 43vw;
}
.coin{
    width: 6vw;
    cursor: pointer;
}


.button {
    -moz-box-shadow: 0px 5px 4px #272727;
    -webkit-box-shadow: 0px 5px 4px #272727;
    box-shadow: 0px 5px 4px #272727;

    padding: .4rem 1rem;
    font-size: 1.8rem;
    line-height: 1.333333;
    border-radius: .3rem;
    color: #fff;
    display: inline-block;
    font-family: AllerFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    /*-webkit-text-stroke: 2px #D37407;*/
}

.end-turn, .new-game{
    cursor: pointer;
}
.player-name{
    background-color: #fcae08!important;
    border-color: #fcae08!important;
}
.player-active-true{
    background-color: #fcae08!important;
    border-color: #fcae08!important;
}

.player-active-false{
    background-color: #A1A1A1!important;
    border-color: #A1A1A1!important;
}
/*.player-name p{*/
    /*-moz-text-shadow: 1px 1px 5px #d37507;*/
    /*-webkit-text-shadow: 1px 1px 5px #d37507;*/
    /*text-shadow: 1px 1px 5px #d37507;*/
/*}*/

.end-turn{
    background-color: #d20707!important;
    border-color: #d20707 !important;
}
.end-turn:hover{
    background-color: #a20000 !important;
}
.new-game{
    background-color: #7aab05!important;
    border-color: #7aab05!important;
}
.new-game:hover{
    background-color: #5e8405 !important;
}

.alert-winner{
    background-color: #FCAE08;
    margin: 43px auto;
    position: absolute;
    left: 40vw;
}

